body {
    background: rgb(182, 119, 244);
    background: linear-gradient(55deg, rgba(110, 30, 120, 1) 0%, rgba(161, 0, 107, 1) 45%, rgba(205, 0, 55, 1) 80%, rgba(224, 82, 6, 1) 100%) no-repeat center center fixed;
    background-size: cover;
}

#logo {
    padding: 0;
}

.container {
    width: 80%;
    height: 80%;
    margin: auto auto;
    border-radius: 30px;
    padding: 10px;
    position: relative;
    top: 40px
    background-color: #f7f9f998;
}

.centered-element{
    margin-left: 0;
    margin-right: 0;
    padding: 5px;
}

.rainbow {
    background-color: #f7f9f998;
    color: black;
    border: 0px; 
    padding: 5px;
    border-radius: 10px;
}

input::placeholder {
    text-align: center;
}

.topnav {
    position: sticky;
    padding: 20px;
    /*align-items: center ;*/
    width : 100% ;
    height : 50px ;
    z-index : 700 ;
    backdrop-filter: blur(4px);
    display: flex;
}

.main {
    display: flex ;
    background-color : white ;
    border-radius : 20px ;
    width:70%;
    margin : 0 auto ;
    margin-top: 200px ;
    align-content: center ;
    flex-direction: column ;
}

.top {
    background-color: #e9e9e9 ;
}

.bottom {
    background: white;
}

.first_bottom {
    align-items: flex-end;
}

.tab {
    border: solid black 1px ;
}

thead {
    background-color: #cfcfcf;
    font-size: 12px ;
    text-align: center;
    border: solid black 1px ;
}

.cellules_main{
    font-size: 12px ;
    text-align: center;
    border: solid black 1px ;
}

.cellules {
    font-size: 10px ;
    text-align: center;
    border: solid black 1px ;
}
